<ion-item [class.ion-invalid]="errorText" [class.ion-valid]="!errorText && control?.valid && control?.touched" lines="inset">
  <ion-icon *ngIf="leadingIcon" [name]="leadingIcon" slot="start" aria-hidden="true"></ion-icon>

  <ion-label *ngIf="label" [position]="placeholder || value ? 'floating' : 'stacked'">{{ label }}</ion-label>

  <ion-input
    [type]="type"
    [placeholder]="placeholder ? placeholder : (label && !value ? ' ' : '')"
    [value]="value"
    [disabled]="disabled"
    [readonly]="readonly"
    [required]="required"
    [id]="inputId"
    [name]="name"
    [formControl]="control"
    (ionInput)="onValueChange($event)"
    (ionBlur)="control?.markAsTouched()"
  ></ion-input>

  <ion-icon *ngIf="trailingIcon" [name]="trailingIcon" slot="end" aria-hidden="true"></ion-icon>
</ion-item>

<div *ngIf="errorText" class="ion-padding-start ion-padding-top-micro">
  <ion-text color="danger">
    <small>{{ errorText }}</small>
  </ion-text>
</div>
