<ion-header>
  <app-user-header></app-user-header>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Chargement du profil...</p>
  </div>

  <div *ngIf="errorMessage && !isLoading" class="ion-text-center ion-padding">
    <p style="color: var(--ion-color-danger);">{{ errorMessage }}</p>
    <ion-button fill="outline" (click)="loadProfile()">Réessayer</ion-button>
  </div>

  <ng-container *ngIf="(userProfile$ | async) as profile; else noProfileData">
    <ion-list lines="inset">
      <ion-item class="ion-text-center ion-margin-bottom">
        <ion-avatar slot="start" style="width: 80px; height: 80px; margin: auto;">
          <img *ngIf="profile.photoURL" [src]="profile.photoURL" alt="Avatar" />
          <ion-icon *ngIf="!profile.photoURL" name="person-circle-outline" style="font-size: 80px;"></ion-icon>
        </ion-avatar>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Prénom</ion-label>
        <ion-input [value]="profile.prenom" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nom</ion-label>
        <ion-input [value]="profile.nom" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [value]="profile.email" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Téléphone</ion-label>
        <ion-input [value]="profile.telephone || '-'" readonly></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Titre de Poste Actuel/Recherché</ion-label>
        <ion-input [value]="profile.titrePoste || '-'" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Adresse</ion-label>
        <ion-textarea [value]="profile.adresse || '-'" readonly autoGrow="true"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Résumé Personnel / Objectif</ion-label>
        <ion-textarea [value]="profile.resumePersonnel || '-'" readonly autoGrow="true" rows="4"></ion-textarea>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #noProfileData>
    <div *ngIf="!isLoading && !errorMessage && !(userProfile$ | async)" class="ion-text-center ion-padding">
      <ng-container *ngIf="(currentUserAuth$ | async) as authUser; else notLoggedIn">
        <p>Aucun profil trouvé pour {{ authUser?.email }}.</p>
      </ng-container>
      <ng-template #notLoggedIn><p>Veuillez vous connecter pour voir votre profil.</p></ng-template>
    </div>
  </ng-template>
</ion-content>